## ***Importing Libraries***

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

## ***Importing Data***

In [2]:
data=pd.read_csv('/content/drive/MyDrive/guvi/Traffic_Violations.csv')

In [3]:
df=data.copy(deep=True)

In [4]:
pd.set_option('display.max_columns', None)
df.head()

,SeqID,Date Of Stop,Time Of Stop,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,Personal Injury,Property Damage,Fatal,Commercial License,HAZMAT,Commercial Vehicle,Alcohol,Work Zone,Search Conducted,Search Disposition,Search Outcome,Search Reason,Search Reason For Stop,Search Type,Search Arrest Reason,State,VehicleType,Year,Make,Model,Color,Violation Type,Charge,Article,Contributed To Accident,Race,Gender,Driver City,Driver State,DL State,Arrest Type,Geolocation
0,52282e8c-f2e1-4bb5-8509-2d5e4f8da8ca,05/01/2023,23:11:00,MCP,"3rd District, Silver Spring",OPERATING UNREGISTERED MOTOR VEHICLE ON HIGHWAY,BRIGGS CHANEY RD @ COLUMIBA PIKE,0.000000,0.00000,No,No,No,No,No,No,No,No,No,No,No,NaN,Citation,NaN,17-107(a1),NaN,NaN,MD,02 - Automobile,2007.0,CHEV,CRUZ,BLACK,Citation,13-401(b1),Transportation Article,False,WHITE,M,GAITHERSBURG,MD,MD,A - Marked Patrol,"(0.0, 0.0)"
1,b66f253b-af29-4bc4-bb73-93755ca2a779,08/31/2023,16:41:00,MCP,"6th District, Gaithersburg / Montgomery Village",DRIVING TO DRIVE MOTOR VEHICLE ON HIGHWAY WITH...,OAKMONT AVE @ GROVEMONT CIR,39.097965,-77.15301,No,No,No,No,No,No,No,No,No,No,No,NaN,Citation,NaN,20-102(a1),NaN,NaN,MD,02 - Automobile,2005.0,FORD,EXPLORER,BLACK,Citation,16-101(a1),Transportation Article,False,HISPANIC,M,GAITHERSBURG,MD,MD,A - Marked Patrol,"(39.097965, -77.15301)"
2,b66f253b-af29-4bc4-bb73-93755ca2a779,08/31/2023,16:41:00,MCP,"6th District, Gaithersburg / Montgomery Village",FAILURE TO DISPLAY REGISTRATION CARD UPON DEMA...,OAKMONT AVE @ GROVEMONT CIR,39.097965,-77.15301,No,No,No,No,No,No,No,No,No,No,No,NaN,Citation,NaN,20-102(a1),NaN,NaN,MD,02 - Automobile,2005.0,FORD,EXPLORER,BLACK,Citation,13-409(b),Transportation Article,False,HISPANIC,M,GAITHERSBURG,MD,MD,A - Marked Patrol,"(39.097965, -77.15301)"
3,b66f253b-af29-4bc4-bb73-93755ca2a779,08/31/2023,16:41:00,MCP,"6th District, Gaithersburg / Montgomery Village",DRIVER OF MOTOR VEHICLE FOLLOWING VEHICLE CLOS...,OAKMONT AVE @ GROVEMONT CIR,39.097965,-77.15301,No,No,No,No,No,No,No,No,No,No,No,NaN,Citation,NaN,20-102(a1),NaN,NaN,MD,02 - Automobile,2005.0,FORD,EXPLORER,BLACK,Citation,21-310(a),Transportation Article,False,HISPANIC,M,GAITHERSBURG,MD,MD,A - Marked Patrol,"(39.097965, -77.15301)"
4,b66f253b-af29-4bc4-bb73-93755ca2a779,08/31/2023,16:41:00,MCP,"6th District, Gaithersburg / Montgomery Village",FAILURE TO CONTROL VEH. SPEED ON HWY. TO AVOID...,OAKMONT AVE @ GROVEMONT CIR,39.097965,-77.15301,No,No,No,No,No,No,No,No,No,No,No,NaN,Citation,NaN,20-102(a1),NaN,NaN,MD,02 - Automobile,2005.0,FORD,EXPLORER,BLACK,Citation,21-801(b),Transportation Article,False,HISPANIC,M,GAITHERSBURG,MD,MD,A - Marked Patrol,"(39.097965, -77.15301)"

In [5]:
df.shape

(2070115, 43)

***Insight***

**2070115** rows and **43** columns

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2070115 entries, 0 to 2070114
Data columns (total 43 columns):
 #   Column                   Dtype
---  ------                   -----
 0   SeqID                    object
 1   Date Of Stop             object
 2   Time Of Stop             object
 3   Agency                   object
 4   SubAgency                object
 5   Description              object
 6   Location                 object
 7   Latitude                 float64
 8   Longitude                float64
 9   Accident                 object
 10  Belts                    object
 11  Personal Injury          object
 12  Property Damage          object
 13  Fatal                    object
 14  Commercial License       object
 15  HAZMAT                   object
 16  Commercial Vehicle       object
 17  Alcohol                  object
 18  Work Zone                object
 19  Search Conducted         object
 20  Search Disposition       object
 21  Search Outcome           object
 22  Search Reason            object
 23  Search Reason For Stop   object
 24  Search Type              object
 25  Search Arrest Reason     object
 26  State                    object
 27  VehicleType              object
 28  Year                     float64
 29  Make                     object
 30  Model                    object
 31  Color                    object
 32  Violation Type           object
 33  Charge                   object
 34  Article                  object
 35  Contributed To Accident  bool
 36  Race                     object
 37  Gender                   object
 38  Driver City              object
 39  Driver State             object
 40  DL State                 object
 41  Arrest Type              object
 42  Geolocation              object
dtypes: bool(1), float64(3), object(39)
memory usage: 665.3+ MB

## ***Checking Null Values***

In [7]:
df.isnull().sum()[df.isnull().sum() != 0]

Description                    10
Location                        4
Search Conducted           786125
Search Disposition        1980574
Search Outcome             805416
Search Reason             1980574
Search Reason For Stop     786428
Search Type               1980582
Search Arrest Reason      2008149
State                          59
Year                        10645
Make                           74
Model                         223
Color                       22300
Article                     92680
Driver City                   519
Driver State                   11
DL State                      929
dtype: int64

## ***Memory Usage***

In [8]:
df.memory_usage(deep=True)

Index                            132
SeqID                      175959775
Date Of Stop               122136785
Time Of Stop               117996555
Agency                     107645980
SubAgency                  157924112
Description                227478707
Location                   155120932
Latitude                    16560920
Longitude                   16560920
Accident                   105632548
Belts                      105640232
Personal Injury            105601051
Property Damage            105621248
Fatal                      105576433
Commercial License         105633743
HAZMAT                     105576018
Commercial Vehicle         105582491
Alcohol                    105578487
Work Zone                  105576313
Search Conducted            90729031
Search Disposition          68872212
Search Outcome              96950104
Search Reason               69149039
Search Reason For Stop      99603549
Search Type                 68192692
Search Arrest Reason        67585021
State                      105574744
VehicleType                133187012
Year                        16560920
Make                       111827940
Model                      111295385
Color                      111375633
Violation Type             116627098
Charge                     120033002
Article                    143202377
Contributed To Accident      2070115
Race                       113215244
Gender                     103505750
Driver City                123678537
Driver State               105575656
DL State                   105558214
Arrest Type                137453212
Geolocation                164629983
dtype: int64

In [9]:
df.describe(include='number')

           Latitude     Longitude          Year
count  2.070115e+06  2.070115e+06  2.059470e+06
mean   3.613803e+01 -7.130162e+01  2.007615e+03
std    1.032062e+01  2.036307e+01  8.489762e+01
min    0.000000e+00 -1.512560e+02  0.000000e+00
25%    3.901642e+01 -7.719294e+01  2.003000e+03
50%    3.906618e+01 -7.708753e+01  2.008000e+03
75%    3.913717e+01 -7.702696e+01  2.013000e+03
max    4.154316e+01  3.906444e+01  9.999000e+03

In [10]:
df.describe(include='object').T

,count,unique,top,freq
SeqID,2070115,1178080,33c49de3-9e36-4f36-9326-b59a95e86fe8,59
Date Of Stop,2070115,5086,03/17/2015,1281
Time Of Stop,2070115,1440,23:30:00,3000
Agency,2070115,1,MCP,2070115
SubAgency,2070115,9,"4th District, Wheaton",449193
Description,2070105,17806,DRIVER FAILURE TO OBEY PROPERLY PLACED TRAFFIC...,171401
Location,2070111,269352,MONTGOMERY VILLAGE AVE @ RUSSELL AVE,2451
Accident,2070115,2,No,2013432
Belts,2070115,2,No,2005748
Personal Injury,2070115,2,No,2044929
Property Damage,2070115,2,No,2024732
Fatal,2070115,2,No,2069547
Commercial License,2070115,2,No,2012237
HAZMAT,2070115,2,No,2069962
Commercial Vehicle,2070115,2,No,2063489
Alcohol,2070115,2,No,2067493
Work Zone,2070115,2,No,2069667
Search Conducted,1283990,2,No,1194449
Search Disposition,89541,7,Nothing,38864
Search Outcome,1264699,5,Warning,638761
Search Reason,89541,10,Incident to Arrest,51802
Search Reason For Stop,1283687,842,21-201(a1),154351
Search Type,89533,6,Both,67096
Search Arrest Reason,61966,11,Stop,40071
State,2070056,72,MD,1797987
VehicleType,2070115,36,02 - Automobile,1835701
Make,2070041,4935,TOYOTA,240535
Model,2069892,23386,4S,199699
Color,2047815,26,BLACK,437199
Violation Type,2070115,4,Warning,1090515
Charge,2070115,1199,21-801.1,286707
Article,1977435,6,Transportation Article,1957419
Race,2070115,6,WHITE,691032
Gender,2070115,3,M,1393963
Driver City,2069596,9374,SILVER SPRING,503076
Driver State,2070104,68,MD,1871813
DL State,2069186,72,MD,1805484
Arrest Type,2070115,19,A - Marked Patrol,1657617
Geolocation,2070115,1026161,"(0.0, 0.0)",156092

## ***Categorical Columns***

In [11]:
df.select_dtypes(include='object').columns

Index(['SeqID', 'Date Of Stop', 'Time Of Stop', 'Agency', 'SubAgency',
       'Description', 'Location', 'Accident', 'Belts', 'Personal Injury',
       'Property Damage', 'Fatal', 'Commercial License', 'HAZMAT',
       'Commercial Vehicle', 'Alcohol', 'Work Zone', 'Search Conducted',
       'Search Disposition', 'Search Outcome', 'Search Reason',
       'Search Reason For Stop', 'Search Type', 'Search Arrest Reason',
       'State', 'VehicleType', 'Make', 'Model', 'Color', 'Violation Type',
       'Charge', 'Article', 'Race', 'Gender', 'Driver City', 'Driver State',
       'DL State', 'Arrest Type', 'Geolocation'],
      dtype='object')

## ***Numerical Columns***

In [12]:
df.select_dtypes(include='number').columns

Index(['Latitude', 'Longitude', 'Year'], dtype='object')

# ***Data Preprocessing***

**Duplicate values**

In [13]:
df.duplicated().sum()

np.int64(2354)

In [14]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

***Insights***

 Keeps the first occurrence

 Removes exact row duplicates

**Handling Missing Values**

In [78]:
df.isnull().sum()[df.isnull().sum() != 0]

Year                 2879
District Number    173549
dtype: int64

In [16]:
# search related columns
search_cols = [
    'Search Conducted',
    'Search Disposition',
    'Search Outcome',
    'Search Reason',
    'Search Reason For Stop',
    'Search Type',
    'Search Arrest Reason'
]

df[search_cols] = df[search_cols].fillna('Not Applicable')

In [17]:
df['Location'].fillna('unknown',inplace=True)
df['Description'].fillna('Not Recorded',inplace=True)
df['Color'].fillna('Unknown', inplace=True)
df['Article'].fillna('Not Recorded', inplace=True)

In [18]:
df['State'].fillna(df['State'].mode()[0],inplace=True)
df['Make'].fillna(df['Make'].mode()[0],inplace=True)
df['Model'].fillna(df['Model'].mode()[0],inplace=True)
df['Driver City'].fillna(df['Driver City'].mode()[0],inplace=True)
df['DL State'].fillna(df['DL State'].mode()[0],inplace=True)
df['Driver State'].fillna(df['Driver State'].mode()[0],inplace=True)
#Less missing values so i replaced it with mode

In [19]:
median_year = df['Year'].median()
df['Year'].fillna(median_year, inplace=True)

## ***Feature Engineering***

In [20]:
df['SeqID'].describe()

count                                  2067761
unique                                 1178080
top       33c49de3-9e36-4f36-9326-b59a95e86fe8
freq                                        59
Name: SeqID, dtype: object

In [21]:
df["SeqID"] = df["SeqID"].astype(str)
# SeqID as an ID, not a number

In [22]:
df['Date Of Stop'].unique()

array(['05/01/2023', '08/31/2023', '04/30/2023', ..., '11/30/2025',
       '12/04/2025', '12/05/2025'], dtype=object)

In [23]:
df["Date Of Stop"] = pd.to_datetime(df["Date Of Stop"], errors="coerce")
# Convert 'Date Of Stop' column to datetime format
# Invalid or unparseable dates will be set as NaT (missing value)

In [24]:
df["Date Of Stop"].isna().sum()

np.int64(0)

In [25]:
df['Stop Hour'] = pd.to_datetime(
    df['Time Of Stop'].astype(str)
).dt.hour

In [26]:
df['Stop Hour']

0          23
1          16
2          16
3          16
4          16
           ..
2070110    13
2070111    15
2070112    21
2070113     7
2070114    13
Name: Stop Hour, Length: 2067761, dtype: int32

In [27]:
df['Time Of Stop'] = pd.to_datetime(
    df['Time Of Stop'].astype(str),
    format='%H:%M:%S',
    errors='coerce'
).dt.time

In [28]:
df['Time Of Stop']

0          23:11:00
1          16:41:00
2          16:41:00
3          16:41:00
4          16:41:00
             ...
2070110    13:14:00
2070111    15:14:00
2070112    21:18:00
2070113    07:28:00
2070114    13:33:00
Name: Time Of Stop, Length: 2067761, dtype: object

In [29]:
df["Agency"] = df["Agency"].str.upper().str.strip()

In [30]:
df['Agency'].describe()

count     2067761
unique          1
top           MCP
freq      2067761
Name: Agency, dtype: object

In [31]:
# Extract numeric district values from the SubAgency text column
# \d+ captures one or more digits from the string
# Convert result to nullable integer (Int64) to handle missing values
df['District Number'] = (
    df['SubAgency']
    .str.extract(r'(\d+)')
    .astype('Int64')
)

**.str.extract(r'(\d+)')**

Uses regular expression

\d+  one or more digits

Extracts the first number found in the string

In [32]:
df['District Number']

0          3
1          6
2          6
3          6
4          6
          ..
2070110    2
2070111    4
2070112    3
2070113    1
2070114    5
Name: District Number, Length: 2067761, dtype: Int64

In [33]:
cols = ['SubAgency', 'Description', 'Location','Search Reason','Model']

df[cols] = df[cols].apply(
    lambda x: x.astype(str).str.strip().str.lower()
)

In [34]:
df['Latitude']

0           0.000000
1          39.097965
2          39.097965
3          39.097965
4          39.097965
             ...
2070110    38.993932
2070111     0.000000
2070112     0.000000
2070113    39.034735
2070114    39.156796
Name: Latitude, Length: 2067761, dtype: float64

In [35]:
df.loc[
    (df['Latitude'] < -90) | (df['Latitude'] > 90),
    'Latitude'
]

Series([], Name: Latitude, dtype: float64)

In [36]:
df.loc[
    (df['Longitude'] < -180) | (df['Longitude'] > 180),
    'Longitude'
]

Series([], Name: Longitude, dtype: float64)

In [37]:
df.loc[
    (df['Longitude'] < -65) | (df['Longitude'] > -125),
    'Longitude'
]

0           0.000000
1         -77.153010
2         -77.153010
3         -77.153010
4         -77.153010
             ...
2070110   -77.027828
2070111     0.000000
2070112     0.000000
2070113   -77.174082
2070114   -77.163849
Name: Longitude, Length: 2067761, dtype: float64

In [38]:
bool_cols = [
    "Accident",
    "Belts",
    "Personal Injury",
    "Property Damage",
    "Fatal",
    "Commercial License",
    "HAZMAT",
    "Commercial Vehicle",
    "Alcohol"
]

for col in bool_cols:
    print(f"\nValue counts for {col}")
    print(df[col].value_counts(dropna=False))

Value counts for Accident
Accident
No     2011283
Yes      56478
Name: count, dtype: int64

Value counts for Belts
Belts
No     2003455
Yes      64306
Name: count, dtype: int64

Value counts for Personal Injury
Personal Injury
No     2042652
Yes      25109
Name: count, dtype: int64

Value counts for Property Damage
Property Damage
No     2022620
Yes      45141
Name: count, dtype: int64

Value counts for Fatal
Fatal
No     2067194
Yes        567
Name: count, dtype: int64

Value counts for Commercial License
Commercial License
No     2009984
Yes      57777
Name: count, dtype: int64

Value counts for HAZMAT
HAZMAT
No     2067608
Yes        153
Name: count, dtype: int64

Value counts for Commercial Vehicle
Commercial Vehicle
No     2061155
Yes       6606
Name: count, dtype: int64

Value counts for Alcohol
Alcohol
No     2065146
Yes       2615
Name: count, dtype: int64

In [39]:
df[bool_cols] = df[bool_cols].replace({'Yes': True, 'No': False})

In [40]:
df[bool_cols].dtypes

Accident              bool
Belts                 bool
Personal Injury       bool
Property Damage       bool
Fatal                 bool
Commercial License    bool
HAZMAT                bool
Commercial Vehicle    bool
Alcohol               bool
dtype: object

In [41]:
df['Work Zone']=df['Work Zone'].replace({'Yes':True,'No':False})

In [42]:
df['Work Zone'].dtypes

dtype('bool')

In [43]:
df['State']=df['State'].str.upper()

In [44]:
df['VehicleType'].unique()

array(['02 - Automobile', '19 - Moped', '05 - Light Duty Truck',
       '07 - Truck/Road Tractor', '01 - Motorcycle',
       '20 - Commercial Rig', '28 - Other', '12 - School Bus',
       '03 - Station Wagon', '25 - Utility Trailer',
       '06 - Heavy Duty Truck', '08 - Recreational Vehicle',
       '29 - Unknown', '04 - Limousine', '10 - Transit Bus',
       '27 - Farm Equipment', '11 - Cross Country Bus',
       '21 - Tandem Trailer', '16 - Fire(Non-Emerg)', '09 - Farm Vehicle',
       '18 - Police Vehicle', '23 - Travel/Home Trailer',
       '15 - Fire(Emerg)', '14 - Ambulance(Non-Emerg)',
       '13 - Ambulance(Emerg)', '26 - Boat Trailer',
       '18 - Police(Non-Emerg)', '22 - Mobile Home', '24 - Camper',
       '13 - Ambulance', '15 - Fire Vehicle', '14 - Ambulance',
       '17 - Police(Emerg)', '30 - Unknown', '28 - Electric Bicycle',
       '29 - Other'], dtype=object)

In [45]:
# Clean and standardize the VehicleType text column
# Convert to string to safely apply text operations
# Normalize spacing around hyphens (e.g., "Car-Truck"  "Car - Truck")
# Remove leading and trailing spaces
df['VehicleType'] = (
    df['VehicleType']
    .astype(str)
    .str.replace(r'\s*-\s*', ' - ', regex=True)
    .str.strip()
)

####****str.replace(r'\s*-\s*', ' - ', regex=True)**

Regex breakdown:

\s*  zero or more spaces

-  hyphen

\s*  zero or more spaces

In [46]:
# Extract numeric vehicle type code from the beginning of VehicleType
# ^\d+ captures digits only if they appear at the start of the string
# Convert to nullable integer (Int64) to allow missing values
df['VehicleType_Code'] = (
    df['VehicleType']
    .str.extract(r'^(\d+)')
    .astype('Int64')
)

### ***str.extract(r'^(\d+)')***


Regex breakdown:

^  start of the string

\d+  one or more digits

In [47]:
df['VehicleType_Code'].unique()

<IntegerArray>
[ 2, 19,  5,  7,  1, 20, 28, 12,  3, 25,  6,  8, 29,  4, 10, 27, 11, 21, 16,
  9, 18, 23, 15, 14, 13, 26, 22, 24, 17, 30]
Length: 30, dtype: Int64

In [48]:
# Remove numeric vehicle code from VehicleType text
# ^\d+\s*-\s* matches leading numbers followed by a dash
# Strip extra spaces and convert to lowercase for consistency
df['VehicleType_Category'] = (
    df['VehicleType']
    .str.replace(r'^\d+\s*-\s*', '', regex=True)
    .str.strip()
    .str.lower()
)

####****str.replace(r'^\d+\s*-\s*', '', regex=True)**

^  start of string

\d+  one or more digits

\s*-\s*  dash with optional spaces

In [49]:
df['VehicleType_Category'].unique()

array(['automobile', 'moped', 'light duty truck', 'truck/road tractor',
       'motorcycle', 'commercial rig', 'other', 'school bus',
       'station wagon', 'utility trailer', 'heavy duty truck',
       'recreational vehicle', 'unknown', 'limousine', 'transit bus',
       'farm equipment', 'cross country bus', 'tandem trailer',
       'fire(non - emerg)', 'farm vehicle', 'police vehicle',
       'travel/home trailer', 'fire(emerg)', 'ambulance(non - emerg)',
       'ambulance(emerg)', 'boat trailer', 'police(non - emerg)',
       'mobile home', 'camper', 'ambulance', 'fire vehicle',
       'police(emerg)', 'electric bicycle'], dtype=object)

In [50]:
df.Year

0          2007.0
1          2005.0
2          2005.0
3          2005.0
4          2005.0
            ...
2070110    2011.0
2070111    2020.0
2070112    2010.0
2070113    2019.0
2070114    2019.0
Name: Year, Length: 2067761, dtype: float64

In [51]:
df.Year=df['Year'].astype(int)

In [52]:
# Identify invalid years outside the realistic range
invalid_years = df.loc[
    (df['Year'] < 1950) | (df['Year'] > 2026),
    'Year'
].unique()

# Replace invalid years with missing values (NaN)
df.loc[
    (df['Year'] < 1950) | (df['Year'] > 2026),
    'Year'
] = pd.NA

array([   0, 1900, 3013, 1004, 1011, 8092, 2155, 7089, 2206, 1027, 2048,
       2088, 1655, 1026, 2209, 2901, 5136, 3840, 8888, 3812, 1015, 2914,
       2091, 1932, 4787, 2101, 2917, 2929, 2103, 5887, 2442, 2044, 1741,
       1010,  202, 2090, 7266, 3113, 2919, 2911, 1017, 2171, 4046, 9999,
       2202, 2112, 2077, 2910, 4200, 2996, 1088, 3003,  211, 1776, 1146,
       2208, 1111, 5015, 2107, 1197, 2992,    4, 8438, 1007, 1897, 1012,
       5450, 2031, 5968, 2452, 5338, 2500, 5300,    6, 1194, 5237, 3007,
       2055, 2502, 1196, 6338, 1013, 2915, 1016, 2258, 8074, 1005, 2998,
       5005, 4248, 2096, 3940, 2104, 2105, 1001, 2102, 2941, 2109, 2207,
       2205, 5257, 2995, 2814, 5795, 3697, 4112, 1299, 2204, 1199, 2773,
       1076, 2106, 1014, 6580, 3574, 9035, 5246, 3837,  277, 4452,  205,
         12, 2991, 3886, 2916,   95, 1338, 2200, 1729, 1936, 1879, 5843,
       1008, 9013, 7998, 9332, 4313, 2912, 4209, 1009, 2179, 2050, 6285,
       2997, 1898, 2085, 6838,  215, 9463,    8, 7575, 2203, 9510, 3451,
       1006, 8287,  162, 9219, 2033, 2066, 2097, 5772, 2818, 3244, 2576,
       6078, 1186, 1616, 1929, 2201, 1899, 2511, 2081, 8560, 1003, 5470,
       1909, 4032,  707, 2913, 2051,  216, 2988, 5709, 6673, 1665, 2923,
       2921, 1903, 1920,  798, 4002, 3510, 1071,   11, 3019, 2295,  112,
       1885, 1902, 9382, 3008, 2100, 2099, 2028,  220,  620, 9867, 3316,
       7269,    5, 2110, 2483,    9, 6247, 4706, 2070, 2986, 2054, 6874,
       9705, 5456, 3018,   93, 1549, 2993,  219, 1528, 2999, 4697, 4930,
       1019, 5603,   10, 1939, 5265, 5421, 5397, 4515, 1889, 1865, 5004,
       7513, 4009, 1930, 8615, 2151, 9563, 1901, 3004, 4580, 4146, 3435,
       7670, 7226, 5823, 3096, 1357, 2373, 3517, 7104, 2108, 2596, 1312,
       3802, 7251, 6153, 3861, 3020, 3373, 3104, 2040, 3503, 3201, 8739,
       2093, 5199, 2113, 1886, 2390, 7288, 3790, 3776, 8008, 2994, 1411,
       1925, 2027, 8042, 2817, 2627, 1195, 8928, 3014, 1931, 2793, 2301,
       4004, 2331, 9624, 3002, 5256, 1642, 6633, 2602, 6171, 1636, 9890,
       3855, 8030, 5384, 3621, 2625, 8217, 8260, 5441, 1082, 3648, 6722,
       2621, 7247, 4122, 1887, 3111,   97, 6856, 1145, 1368, 7373, 3010,
       3005, 7007, 1894,  128, 1478, 5657, 2902, 1280, 2071, 8971, 9276,
       2134, 5684, 1028, 2922, 1200, 5748, 3032, 2767, 2924, 3024, 1483,
       8747, 3564, 1201])

In [54]:
df.Color.value_counts()

Color
BLACK          436741
SILVER         365410
WHITE          341530
GRAY           252862
RED            157087
BLUE           150538
GREEN           62565
GOLD            56015
BLUE, DARK      44000
TAN             35616
MAROON          34111
BLUE, LIGHT     24715
Unknown         22265
BEIGE           20267
GREEN, DK       18659
GREEN, LGT      10155
BROWN            8731
ORANGE           7336
YELLOW           7231
BRONZE           4503
PURPLE           3759
MULTICOLOR       1560
CREAM            1115
COPPER            590
PINK              315
CHROME             45
CAMOUFLAGE         40
Name: count, dtype: int64

In [55]:
df['Color'] = df['Color'].astype(str).str.strip().str.upper()

In [56]:
# Standardize vehicle color values by merging similar shades
# This reduces duplicate categories like "BLUE, DARK" and "BLUE, LIGHT"
df['Color'] = df['Color'].replace({
    'BLUE, DARK': 'BLUE',
    'BLUE, LIGHT': 'BLUE',
    'GREEN, DK': 'GREEN',
    'GREEN, LGT': 'GREEN'
})

In [57]:
df['Violation Type'].value_counts()

Violation Type
Warning     1089807
Citation     885280
ESERO         91778
SERO            896
Name: count, dtype: int64

In [58]:
df['Charge'].value_counts()

Charge
21-801.1       286697
21-201(a1)     171274
13-409(b)       91428
21-707(a)       65528
13-401(h)       61493
                ...
24-203              1
15-312(a)           1
13-113.2(d)         1
21-509(f)           1
14-107(h)           1
Name: count, Length: 1199, dtype: int64

In [59]:
df['Charge'] = df['Charge'].astype(str).str.strip().str.upper()

In [60]:
# Group all charges by traffic stop (SeqID)
# Remove duplicate charges per stop
# Sort charges alphabetically and join them into a single string
charges_per_stop = (
    df.groupby('SeqID')['Charge']
    .apply(lambda x: ', '.join(sorted(set(x))))
    .reset_index(name='Charges_List')
)

In [61]:
charges_per_stop

                                        SeqID              Charges_List
0        00001e27-8bde-4328-8b33-2d2d9a9ce862                 21-503(C)
1        0000395c-bbf9-49e3-ba75-91e2da9e98d7  11-393.95(F), 21-201(A1)
2        00006268-72eb-42ff-b6b0-50c21d820e9c                 22-226(A)
3        000071c5-c385-4191-9cd7-e854d2054963                21-201(A1)
4        000099b1-4dcb-4f94-8aef-71ffb198890b      21-801(A), 21-801(B)
...                                       ...                       ...
1178075  ffffb408-d39e-4c3e-a573-90328763c50c                 21-707(A)
1178076  ffffbf8d-668b-49fd-b51d-fe5e5421ae49                 21-204(D)
1178077  ffffde34-c896-4614-a480-73600e8500a1                 13-409(B)
1178078  fffff356-9830-4664-a240-3f34341c7efc                  21-801.1
1178079  fffff914-df6f-4634-97d3-e2202f3d1f86                  21-801.1

[1178080 rows x 2 columns]

In [62]:
df['Article'].value_counts()

Article
Transportation Article    1955103
Not Recorded                92674
Maryland Rules              19889
BR                             61
TG                             22
1A                              9
00                              3
Name: count, dtype: int64

In [63]:
# Convert Article column to string, remove extra spaces,
# and standardize text to Title Case
df['Article'] = df['Article'].astype(str).str.strip().str.title()

In [64]:
df['Driver City'].astype('str').str.strip().str.lower()

0           gaithersburg
1           gaithersburg
2           gaithersburg
3           gaithersburg
4           gaithersburg
               ...
2070110           laurel
2070111    staten island
2070112    silver spring
2070113          potomac
2070114          pacoima
Name: Driver City, Length: 2067761, dtype: object

In [65]:
df['DL State'].unique()

array(['MD', 'VA', 'FL', 'DC', 'OH', 'LA', 'NC', 'NY', 'XX', 'ME', 'GA',
       'KY', 'PA', 'CA', 'IL', 'MA', 'TN', 'SC', 'IN', 'WV', 'NJ', 'WA',
       'TX', 'US', 'IA', 'WI', 'NV', 'CT', 'MI', 'SD', 'MO', 'NM', 'AL',
       'PE', 'HI', 'RI', 'DE', 'ND', 'CO', 'KS', 'AZ', 'MS', 'AK', 'ON',
       'NE', 'OK', 'WY', 'OR', 'UT', 'IT', 'NH', 'NB', 'AB', 'PR', 'ID',
       'AR', 'MN', 'BC', 'MT', 'MB', 'VT', 'QC', 'VI', 'SK', 'MH', 'PQ',
       'AS', 'NF', 'GU', 'NS', 'YT', 'NU'], dtype=object)

In [66]:
df['DL State'] = df['DL State'].astype(str).str.strip().str.upper()

In [67]:
df['Arrest Type'].value_counts()

Arrest Type
A - Marked Patrol                         1655405
Q - Marked Laser                           199196
B - Unmarked Patrol                         97603
L - Motorcycle                              20953
G - Marked Moving Radar (Stationary)        19823
S - License Plate Recognition               16395
E - Marked Stationary Radar                 16124
O - Foot Patrol                             14898
R - Unmarked Laser                          11159
M - Marked (Off-Duty)                        5519
I - Marked Moving Radar (Moving)             4298
H - Unmarked Moving Radar (Stationary)       2660
F - Unmarked Stationary Radar                1065
J - Unmarked Moving Radar (Moving)           1055
C - Marked VASCAR                             543
P - Mounted Patrol                            365
N - Unmarked (Off-Duty)                       326
D - Unmarked VASCAR                           317
K - Aircraft Assist                            57
Name: count, dtype: int64

In [68]:
df['Arrest Type'] = (df['Arrest Type'].astype(str).str.strip())

In [69]:
# Extract the arrest type code (single capital letter) from the start of Arrest Type
# ^([A-Z]) captures the first uppercase letter at the beginning of the string
df['Arrest_Type_Code'] = (
    df['Arrest Type']
    .str.extract(r'^([A-Z])')
)

***str.extract(r'^([A-Z])')***

^  start of string

[A-Z]  one uppercase letter

()  capture group (this is what gets returned)

In [70]:
# Remove arrest type code (letter + dash) from Arrest Type text
# ^[A-Z]\s*-\s* matches a leading capital letter followed by a dash
# Convert description to lowercase for consistency
df['Arrest_Type_Desc'] = (
    df['Arrest Type']
    .str.replace(r'^[A-Z]\s*-\s*', '', regex=True)
    .str.lower()
)

****str.replace(r'^[A-Z]\s*-\s*', '', regex=True)***

^  start of string

[A-Z]  one capital letter

\s*-\s*  dash with optional spaces

In [71]:
df.Geolocation

0                               (0.0, 0.0)
1                   (39.097965, -77.15301)
2                   (39.097965, -77.15301)
3                   (39.097965, -77.15301)
4                   (39.097965, -77.15301)
                        ...
2070110    (38.9939315, -77.0278283333333)
2070111                         (0.0, 0.0)
2070112                         (0.0, 0.0)
2070113     (39.034735, -77.1740816666667)
2070114    (39.1567958333333, -77.1638485)
Name: Geolocation, Length: 2067761, dtype: object

In [72]:
# Extract latitude and longitude from Geolocation text
# Handles formats like "(lat, lon)", "lat,lon", or "lat , lon"
geo = df['Geolocation'].astype(str).str.extract(
    r'\(?\s*([-+]?\d*\.?\d+)\s*,\s*([-+]?\d*\.?\d+)\s*\)?'
)

# Convert extracted latitude to numeric (invalid values become NaN)
df['Geo_Lat'] = pd.to_numeric(geo[0], errors='coerce')

# Convert extracted longitude to numeric (invalid values become NaN)
df['Geo_Lon'] = pd.to_numeric(geo[1], errors='coerce')

In [73]:
df.loc[
    (df['Geo_Lat'] == 0) & (df['Geo_Lon'] == 0),
    ['Geo_Lat', 'Geo_Lon']
] = pd.NA

In [74]:
df[['Latitude', 'Geo_Lat']].corr()
df[['Longitude', 'Geo_Lon']].corr()

           Longitude  Geo_Lon
Longitude        1.0      1.0
Geo_Lon          1.0      1.0

In [75]:
df.drop(columns=['Geolocation', 'Geo_Lat', 'Geo_Lon'], inplace=True)

In [76]:
df.to_parquet('traffic_stops_clean.parquet', index=False)

## ***Saving the file***

In [77]:
from google.colab import files
files.download('traffic_stops_clean.parquet')